.todo {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.todo > header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

div .todo-task {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
