.Todo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.AppTitle {
	background-color: white;
	color: blue;
	border : 2px solid blue;
	text-align: center;
	margin : 10px;
}

/*.Lists {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}*/

.List {
	border : 1px solid black;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin : 10px;
}

.ListHeader {
	border : 1px solid red;
	margin : 5px;
}

.ListName {
	text-align: center;
}

.Elems {
	border : 1px solid green;
	margin : 5px;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}